services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: slow1234
      POSTGRES_PASSWORD: slow1234
      POSTGRES_DB: ourllet
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
